@model AcmeStockApp.Models.StockAppUser

@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Acme Password Recovery</h3>
                    <h6 class="card-subtitle">Forgot your password?  Enter your email to recover your password</h6>
                </div>
                <div class="card-body" style="height: 100%;">
                    <form asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            @{
                                if (TempData["Success"] != null)
                                {
                                    <p style="color:green">@TempData["Success"]</p>
                                }
                            }
                            <p style="color:green">Password Emailed to you. Check your inbox or spam folder.</p>

                        </div>
                        <div class="card-footer" style="height: 100%; width: 100%;">
                            <div class="d-flex justify-content-end align-items-center h-100">

                                <a asp-controller="Authentication" asp-action="Login" class="ml-3">Back to Login</a>

                                <button asp-controller="Authentication" asp-action="Login" type="submit" value="Close" class="btn btn-secondary ml-3">Close</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
