@{
    ViewData["Title"] = "Error401";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="color:red">An Error Occured</h1>
<h2 style="color:darkred">Contact Development Team</h2>
@* <h2>Unauthorized Access</h2> *@
